@page "/"

<div style="height:80vh; display:flex;flex-direction:column;align-items:center; justify-content:end" >
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        SELAMAT DATANG  
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        APLIKASI  JADWAL PELAKSANAAN PON XX
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
       PON XX PAPUA
    </Heading>
    <div style="display:flex;justify-content:space-between; align-items:center; padding:50px; margin:50px">
        <a href="/api/venue/download" >
            <img src="./downloadapp.png" style="width:150px" />
        </a>
        <img src="/logo1.png" style="width:30%; margin:20px; margin-bottom:50px" />
    </div>
</div>
@code{
        
}