@page "/"

<div style="height:70vh; display:flex;flex-direction:column;align-items:center; justify-content:end" >
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        SELAMAT DATANG  
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        APLIKASI  JADWAL PELAKSANAAN PON XX
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
       PON XX PAPUA
    </Heading>
    <div style="display:flex;justify-content:end">
        <img src="/logo1.png" style="width:30%; margin:20px; margin-bottom:50px" />
    </div>
</div>
@code{
        
}