@layout Layouts.AdminLayout
@page "/admin"

@inject IVersionProvider VersionProvider

<div style="height:70vh; display:flex;flex-direction:column;align-items:center" >
    <img src="/brand-logo.png" style="width:10%; margin:20px; margin-bottom:50px" />

    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
        SELAMAT DATANG  
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
       APLIKASI VERIFIKASI DAN VALIDASI AWAL PERMOHONAN REGISTRASI SBU
    </Heading>
    <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
      PON XX PAPUA
    </Heading>
</div>